// TODO
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  display: block;

  div {
    display: flex;
    time {
      text-transform: capitalize;
    }

    svg {
      margin-right: 0.4rem;
    }
  }

  strong {
    font-size: 34px;
    color: var(--heading);
  }

  div,
  p {
    color: var(--info);
  }
}
